# WB4.3 Introducción a SQL

En esta cuaderno de trabajo se explorarán la base de datos `music.db` mediante consultas de SQL. La base de datos contiene tres tablas:
* `songs`, que contiene un identificador `_id`, el título de la canción `title` y el album `album`. 
* `albums`, que contiene un identificador `_id`, el nombre del album `name` y el artista `artist`. 
* `artists`, que contiene un identificador `_id` y su nombre `name`. 

Completa las siguientes instrucciones de acuerdo a lo visto en el tema.

## 1. Acceso a los Datos con Queries.

1. Crea la conexión y un cursor a la base de datos.

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("music.db")
cursor = conn.cursor()

2. Explora todas las columnas en todas antes mencionadas tablas. Muestra los primeros 10 registros.

In [ ]:
def mostrar_tabla(nombre_tabla):
    print(f"\nTabla: {nombre_tabla}")
    df = pd.read_sql_query(f"SELECT * FROM {nombre_tabla} LIMIT 10;", conn)
    display(df)

for tabla in ["songs", "albums", "artists"]:
    mostrar_tabla(tabla)

3. Iron Maiden tiene como `_id = 8`en la tabla de artistas. Emplea este id para identificar sus álbumes en la tabla `albums`. Observa que la columna `artist` hace referencia a los id de los artistas.

In [ ]:
iron_maiden_albums = pd.read_sql_query("""
    SELECT * 
    FROM albums
    WHERE artist = 8;
""", conn)

display(iron_maiden_albums)

4. Muestras las canciones del album "The Number of the Beast". Presenta tus resultados en orden alfabético.

In [ ]:
songs_number_beast = pd.read_sql_query("""
    SELECT s.title
    FROM songs s
    JOIN albums a ON s.album = a._id
    WHERE a.name = 'The Number of the Beast'
    ORDER BY s.title ASC;
""", conn)

display(songs_number_beast)

## 2. Agregaciones y Agrupamientos de Datos.

1. ¿Cuantas canciones, albumes y artistas se tienen registrados en la base de datos?

In [ ]:
conteos = {}
for tabla in ["songs", "albums", "artists"]:
    cursor.execute(f"SELECT COUNT(*) FROM {tabla}")
    conteos[tabla] = cursor.fetchone()[0]

conteos

2. Agrupa la tabla albums por artista para identificar qué cuales son los 5 artistas que tienen más albumes.

In [ ]:
top5_artistas = pd.read_sql_query("""
    SELECT artist, COUNT(*) AS num_albums
    FROM albums
    GROUP BY artist
    ORDER BY num_albums DESC
    LIMIT 5;
""", conn)

display(top5_artistas)

3. Presenta el nombre de los artistas identificados en el punto anterior.

In [ ]:
top5_nombres = pd.read_sql_query("""
    SELECT ar.name, COUNT(al._id) AS num_albums
    FROM albums al
    JOIN artists ar ON al.artist = ar._id
    GROUP BY ar._id
    ORDER BY num_albums DESC
    LIMIT 5;
""", conn)

display(top5_nombres)

4. ¿Cuál es el album con más canciones? Investiga sobre este album en la red.

In [ ]:
album_mas_canciones = pd.read_sql_query("""
    SELECT a.name, COUNT(s._id) AS num_songs
    FROM songs s
    JOIN albums a ON s.album = a._id
    GROUP BY s.album
    ORDER BY num_songs DESC
    LIMIT 1;
""", conn)

display(album_mas_canciones)

## 3. Combinación de Tablas.

1. Muestra todas el nombre canciones del album "Seventh Son Of A Seventh Son" que tiene por '_id = 420'. Presenta la lista en el *track order* (`track`).

In [ ]:
seventh_son_tracks = pd.read_sql_query("""
    SELECT title, track
    FROM songs
    WHERE album = 420
    ORDER BY track ASC;
""", conn)

display(seventh_son_tracks)

2. Obtén todas las canciones de Aeroesmith en orden alfabético. Solo incluye el título en la salida ¿Cuántas son?

In [ ]:
aerosmith_songs = pd.read_sql_query("""
    SELECT s.title
    FROM songs s
    JOIN albums a ON s.album = a._id
    JOIN artists ar ON a.artist = ar._id
    WHERE ar.name = 'Aerosmith'
    ORDER BY s.title ASC;
""", conn)

display(aerosmith_songs)
print("Total de canciones:", len(aerosmith_songs))

## Referencias
* Actividad basada en SQLite-Exercises: https://github.com/IancuIulian/SQLite-Exercises